[
  {
    "name": "Custom Secrets Deny List",
    "supported_language": "en",
    "deny_list": [
      "REPLACE_WITH_YOUR_SECRET_1",
      "REPLACE_WITH_YOUR_SECRET_2"
    ],
    "supported_entity": "CUSTOM_SECRET"
  }
]